<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @period.project_id %>
</p>

<p>
  <strong>Process:</strong>
  <%= @period.process_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @period.member_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @period.start_time %>
</p>

<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
